<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Encryption / Decryption bean -->
   <bean id = "encryption" class = "com.nitrohub.encryption.Encryptor">
   </bean>
   <bean id = "decryption" class = "com.nitrohub.encryption.Decryptor">
   </bean>
</beans>